body {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #999;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0 0 0 1.3em;
}

li {
    margin: 0;
    padding: 0 0 0.3em 0;
}

a {
    color: #c00;
}

p {
    padding: 0;
    margin: 0 0 0.5em 0;
}

h1 {
    font-size: 300%;
    margin-bottom: 0;
    color: #ccc;
}

#main {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 20em;
}

